body{
    color: black;
    background-color: lavender;
    font-family: 'Tan Mon Cherri', sans-serif;
    align-items: center;
}

.description{
    margin: 2em 0;
    text-align: center;
    font-size: 20px;
    border-style: groove;
    border-color: hotpink;
}

