body {
    background-color: linen;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:20px;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size:3em;
}


iframe,footer{
    width: 100%;
    height: auto;
}

@media (max-width:576px){
    body{
        margin:1em 0;
    }
    h1{
        line-height:2;
    }
    ul{
        margin: 1em 0;
    }
}